<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W6RN7QN"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    {% include header.html %}

    <!-- /124312541/Planet_Sports/Cricket365/articles_native -->
<div id='div-gpt-ad-1637583414856-0' style='min-width: 340px; min-height: 225px;'>
  <script>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1637583414856-0'); });
  </script>
</div>
	<div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
